body, html {
    height: 100%;
    margin: 0;
    background: white;
}

.container-fluid {
    height: 100%;
    padding: 0;
}

.chat {
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: 100%;
}

.card {
    height: 100%;
    border-radius: 0 !important;
    background-color: rgb(250, 250, 250);
}

.msg_card_body {
    overflow-y: auto;
}

.card-header {
    border-bottom: 0 !important;
	/* background: #f0f0f0; */
	background: white;
	border-radius: 30px !important;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow:2px 2px 2px 2px grey;
}

.card-footer {
    border-top: 0 !important;
	background: white;
	border-radius: 30px !important;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow:2px 2px 2px 2px grey;
}

.type_msg {
    background-color: white !important;
    border: 0 !important;
    color: black !important;
    height: 60px !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: white !important;
    border: 0 !important;
    color: black !important;
    cursor: pointer;
}

.send_btn:hover i {
    transform: scale(1.2);
    color: black;
}


.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    /* background: linear-gradient(135deg, #6113C5, #DE0202, #1729CA); */
    background-color: white;
	box-shadow:2px 2px 2px 2px grey;
    padding: 10px;
    position: relative;
	color: black;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
	background: linear-gradient(135deg, #833AB4, #5851DB, #4C8BF5);
	box-shadow:2px 2px 2px 2px grey;
    padding: 10px;
    position: relative;
	color: white;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;
}

.user_img_msg {
    height: 60px;
    width: 60px;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 60px;
    width: 60px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    font-size: 28px;
    color: black;
	font-weight:500;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.user_info p {
    font-size: 20px;
    color: gray;
}

@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}
